<form method="POST" action="/recipe">

  <input type="text" name="name" id="name">
  <input type="text" name="ingredients" id="ingredients"></p>
  <input type="text" name="cook_time" id="cook_time"><br>

  <input type="submit" value="submit">
</form>
