<form method="POST" action="/recipe">

  <input type="text" name="name" placeholder="Name">
  <input type="text" name="ingredients" placeholder="Ingredients">
  <input type="text" name="cook_time" id="cook_time"><br>

  <input type="submit" value="submit">
</form>
